<div style="margin-left:15%">
    @using System.Data
    @using System.Data.SqlClient
    @model List<InstituteManagementSystem.Models.SubjectMaster>
    @{
        ViewBag.Title = "AllSubjects";
    }

    <h2>AllSubjects</h2>
    @Html.ActionLink("Add New Subject", "SubjectList", "Admin")
    <br />
    @{
        <table border="1">
            <thead>
                <tr>
                    <td>
                        Subject ID
                    </td>
                    <td>
                        Subject
                    </td>
                    <td></td>
                </tr>
            </thead>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.SubjectId</td>
                    <td>@data.Subject</td>
                    <td>@Html.ActionLink("Delete", "DeleteSubject", new { SubjectId = data.SubjectId })</td>
                </tr>
            }

        </table>
        <br />
    }
</div>